/* .wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(29, 27, 27);
  position: relative;
}

.container {
  width: 300px;
  height: 100px;
  background-color: rgb(156, 153, 153);
  border: none;
  border-radius: 10px;
  position: absolute;
  right: 600px;
  bottom: 300px;
}
.remove {
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: rgb(150, 19, 19);
  color: #fff;
}
.remove:hover {
  background-color: rgb(222, 102, 102);
  transition: 0.5s;
}
.add {
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: rgb(45, 93, 11);
  color: #fff;
}
.add:hover {
  background-color: rgb(125, 196, 68);
  transition: 0.5s;
}
.row {
  display: flex;
  padding-left: 65px;
  padding-top: 40px;
}
.row h1 {
  margin: 0 20px;
} */
